<nav class="navbar navbar-expand-lg bg-info navbar-dark">
  <div class="container">
    <a class="navbar-brand fw-bold text-warning" href="{% url 'home' %}"
      >E-TECH</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active fw-semibold text-dark"
            aria-current="page"
            href="{% url 'home' %}"
            >Home</a
          >
        </li>
        {% if user.is_authenticated %} {% if user.is_staff %}
        <li class="nav-item">
          <a
            class="nav-link fw-semibold text-dark"
            href="{% url 'adminDashboard' %}"
          >
            <i class="bi bi-speedometer2"></i> Admin Dashboard
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a
            class="nav-link fw-semibold text-dark"
            href="{% url 'userDashboard' %}"
          >
            <i class="bi bi-house-door"></i> My Dashboard
          </a>
        </li>
        {% endif %} {% endif %}
        <li class="nav-item">
          <a class="nav-link fw-semibold text-dark" href="{% url 'about' %}"
            >About Us</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle fw-semibold text-dark"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Explore More
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item fw-semibold text-dark"
                href="{% url 'courses' %}"
                >Courses</a
              >
            </li>
            <li>
              <a
                class="dropdown-item fw-semibold text-dark"
                href="{% url 'contact' %}"
                >Contact Us</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item fw-semibold text-dark" href="#"
                >Something else here</a
              >
            </li>
          </ul>
        </li>
      </ul>
      {% if user.is_authenticated %}
      <span class="navbar-text text-dark mx-3"
        >Welcome, {{ user.username }}!</span
      >
      <a href="{% url 'logout' %}" class="btn btn-outline-danger px-4 mx-2"
        >Logout</a
      >
      {% else %}
      <a href="{% url 'login' %}" class="btn btn-outline-warning px-4 mx-2"
        >Login</a
      >
      {% endif %}
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-warning" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
